@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #F2F0DE;
	font-family: san Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: bold;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	display: inline;
	margin: 28px;
	text-align: center;
	
}

h3 {
	font-family: avenir;
	color:#8E5B4F;
	font-weight: lighter;	
}


h2 {
	color:#79AABD;
	font-weight: bold;
	font-family: san Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}




@media only screen and (min-width: 600px) {

	h3 {
		font-size: 1.25em;
	}
	
	h2 {
	font-size: 2.1em;
}
	
	.column1 {
	float: left;
	width: 25%;
	text-align: right;
	padding-right: 5%;
	clear: both;
		padding-top: 10px;
}

.column2 {
	float: left;
	width: 35%;
	padding-right: 3% ;
	text-align: left;
		padding-top: 10px;
}

.column3 {
	float: left;
	text-align: left;
	width: 25%;
	padding-left: 5%;
	
		padding-top: 10px;
}	
}

@media only screen and (max-width: 600px) {
	h3 {
		font-size: .85em;
	}
	
	h2 {
	font-size: 1.7em;
}
	
	.column1 {
	float: left;
	width: 40%;
	text-align: right;
	padding-right: 2%;
	clear: both;
		padding-top: 10px;
		padding-bottom: 10px;
}

.column2 {
	float: left;
	width: 50%;
	text-align: left;
		padding-top: 10px;
	padding-bottom: 10px;
}

.column3 {
	text-align: left;
	width: 50%;
	padding-left: 25%;
padding-right: 25%;	
}

}

