@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
	background-color:#CAC4C2;
	height: 110px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-top: 30px;
	padding-right: 10px;
}


nav {
	font-family: 'Lato', sans-serif;
	float:right;
	font-size: 2em;
	color:#603714;
	font-weight: bold;
	padding-top: 28px;
	padding-right: 5px;
	word-spacing:.75em;
	
	
	
}

li {
	display: inline;
}

wrapper {

}


footer {
	height: 130px;
	background-color:#7B583D;
	padding-top: 12px;
	padding-bottom: 12px;
}


.column1 {
	float: left;
	margin-left: 100px;
	margin-right: 190px;
	padding-top: 30px;
}


.column2 {
	float: left;
	text-align: center;
	margin-right: 120px;
	font-size: 1.15em; 
	
}

.column3 {
	float: left;
	text-align: right;
	padding-right: 5px;
	font-size: 1.5em; 
	padding-top: 45px;
	word-spacing:.9em;
}


.images {
	margin-left: 10px;
	margin-right: 10px;
	clear:both;
}

h1 {
	font-weight: bold;
	font-size: 1.25em;
	color:#E07626;
	text-align: center;
	word-spacing: .55em;
	font-family: 'Hepta Slab', serif;
	text-transform: uppercase;
	
}


.images {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.column4 {
	margin-left: 20px;
	
}


.column5 {
	margin-right: 20px;
	width: 300px;
	text-align: center;
	clear: both;
	
	
}

main {
	margin-top: 10px;
}